# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Virtual Environment =====
venv/
.env/

# ===== Logs & Outputs =====
statistical_model/logs/
*.log
*.png
*.txt

# ===== OS =====
.DS_Store
Thumbs.db

# ML generated artifacts
machine_learning_model/logs/

*.png
*.log
